# FORMAS DE CONEXÃO 

# Conexão com Windows Authentication 
# CONNECTION_STRING=Server=localhost;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# SQL Server Authentication (usuario e senha)
# CONNECTION_STRING=Server=localhost;Database=GestaoPatrimonios;User Id=SEU_USUARIO;Password=SUA_SENHATrusted_Connection=True;TrustServerCertificate=True
 